In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    "ingresos": [100,200,300],
    "gastos": [300,50,150]
})

In [6]:
df["ratio_gastos_ingresos"] = df["gastos"]/df["ingresos"]

In [7]:
df["ratio_gastos_ingresos"]

0    3.00
1    0.25
2    0.50
Name: ratio_gastos_ingresos, dtype: float64

In [8]:
df['fecha']= pd.to_datetime(["2023-01-01","2023-02-15","2023-03-20"])

In [9]:
df["fecha"]

0   2023-01-01
1   2023-02-15
2   2023-03-20
Name: fecha, dtype: datetime64[ns]

In [10]:
df["mes"]= df["fecha"].dt.month

In [12]:
df.head()

   ingresos  gastos  ratio_gastos_ingresos      fecha  mes
0       100     300                   3.00 2023-01-01    1
1       200      50                   0.25 2023-02-15    2
2       300     150                   0.50 2023-03-20    3

In [14]:
df["dia_semana"] = df["fecha"].dt.dayofweek

In [15]:
df.head()

   ingresos  gastos  ratio_gastos_ingresos      fecha  mes  dia_semana
0       100     300                   3.00 2023-01-01    1           6
1       200      50                   0.25 2023-02-15    2           2
2       300     150                   0.50 2023-03-20    3           0